#title {
    height: 100%;
}

#title h1 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 20%;
    font-size: 50px;
}

#title p {
    width: 33%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#emblems {
    background-color: red;
}

.emblem {
    background-color: #204a46;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}