* {
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;
    font-family: MinionPro;
    font-weight: lighter;
}

html,
body,
svg {
    height: 100%;
    width: 100%;
}

.divide-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.label {
    position: absolute;
    height: 35px;
    left: 50%;
    transform: translateX(-50%);

}

/* Banner */
#banner {
    position: relative;
    height: 100%;
}

#banner h1 {
    font-size: 45px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 38px;
    top: 100px;
}

#banner h1 span {
    font-size: 30px;
}

#banner #star {
    position: absolute;
    top: 80px;
    left: 60%;
    width: 25px;
}

#banner p {
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 260px;
    line-height: 28px;
}

#title {
    font-family: 方正粗金陵;
    font-size: 45px;
    font-weight: lighter;
    color: #C42C2B;
}

#intro {
    font-size: 20px;
    margin-bottom: 80px;
    padding-left: 30px;
}

#semi {
    position: absolute;
    height: 250px;
    width: 250px;
    background-color: #e9c026;
    border-radius: 50%;
    transform: translateX(-50%);
    top: 300px;
}

#banner hr {
    position: absolute;
    width: 100%;
    bottom: 60px;
    border: .8px solid #000;
}

#down-arrow {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    bottom: 100px;
}

/* Main parts */
.parts {
    position: relative;
    /* border: 1px solid aqua; */
    padding-bottom: 100px;
}

.subtitle {
    position: absolute;
    font-family: 方正粗金陵;
    color: #c42c2c;
    font-weight: lighter;
    font-size: 35px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.subtitle span {
    font-size: 23px;
}